table,
td {
  border: 1px solid black;
}
.product {
  width: 411px;
  height: 273px;
  border: 5px solid hsl(0, 0%, 79%);
  box-sizing: border-box;
}
.productName {
  margin-left: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.productImage {
  margin-left: 30px;
  width: 159px;
  height: 100px;
}
.priceTag {
  margin-left: 30px;
  width: 45px;
  height: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.productDescription {
  margin-left: 30px;
  width: 300px;
  height: 50px;
  overflow: hidden;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.basketButtonBlock {
  margin-left: 30px;
  width: 119px;
  height: 18px;

  background: #72de69;
  border-radius: 3px;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 90px;
}
.column {
  display: flex;
  align-items: stretch;
}

/* Clear floats after the columns */
.row{
    display: flex;
    justify-content: space-between;
}
